### **FINANCIAL ANALYSIS USING PYTHON**

In [2]:
import pandas as pd
import yfinance as yf
from datetime import datetime as dt

# Define stock symbols and company names
stock_lst = ['GOOG', 'AMZN','MSFT', 'IBM', 'AAPL', 'TSLA', 'NVDA']
company_list = ['Alphabet Inc.', 'Amazon.com, Inc.','Microsoft Corporation', 
                'International Business Machines Corporation', 'Apple Inc.', 'Tesla, Inc.', 'NVIDIA Corporation']

# Set date range for data collection
end_date = dt.now()
start_date = dt(end_date.year - 10, end_date.month, end_date.day)

# Collect stock data into a single DataFrame
stock_data = pd.DataFrame()
for stock, company in zip(stock_lst, company_list):
    company_stock = yf.download(stock, start=start_date, end=end_date)
    company_stock['Company'] = company
    company_stock['Stock'] = stock
    stock_data = pd.concat([stock_data, company_stock])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
# Show the DataFrame
stock_data.reset_index(inplace=True)
stock_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Company,Stock
0,2014-10-02,28.287836,28.517206,28.088882,28.425957,28.356318,23568530,Alphabet Inc.,GOOG
1,2014-10-03,28.574051,28.782228,28.546625,28.685246,28.614973,22834521,Alphabet Inc.,GOOG
2,2014-10-06,28.860764,28.970463,28.643360,28.788462,28.717936,24292512,Alphabet Inc.,GOOG
3,2014-10-07,28.641365,28.684746,28.109823,28.109823,28.040958,38226664,Alphabet Inc.,GOOG
4,2014-10-08,28.201075,28.615437,27.798180,28.546625,28.476690,39817018,Alphabet Inc.,GOOG